@using Authentication.Controllers
@using Authentication.Utilities.Helpers
@model Authentication.PresentationModels.Admin.EditModels.AddUserEditModel


<form asp-controller="@(Helper.NameOfController<AdminController>())" asp-action="@(nameof(AdminController.AddUser))" method="post">
  
  <div class="row">
    <div class="col-sm-12">
      <dl>
        <dt>
          <label asp-for="Email" class="form-control-label text-muted"></label>
        </dt>
        <dd>
          <input asp-for="Email" class="form-control form-control-sm"/>
          <span asp-validation-for="Email" class="text-danger"></span>
        </dd>
       
        <dt>
          <label asp-for="Password" class="form-control-label text-muted"></label>
        </dt>
        <dd>
          <input asp-for="Password" class="form-control form-control-sm"/>
          <span asp-validation-for="Password" class="text-danger"></span>
        </dd>
      
        <dt>
          <label asp-for="ConfirmPassword" class="form-control-label text-muted"></label>
        </dt>
        <dd>
          <input asp-for="ConfirmPassword" class="form-control form-control-sm"/>
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </dd>
      </dl>
    </div><!--/col-->
  </div><!--/row-->
  
  <div class="row form-group">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-user-plus"></i> Add User </button>
    </div><!--/col-->
  </div><!--/row-->
</form>