@using Authentication.Controllers
@using Authentication.Utilities.Helpers
@model Authentication.PresentationModels.Admin.EditModels.AddRoleEditModel

<div class="row">
  <div class="col-sm-12">
    <form asp-controller="@(Helper.NameOfController<AdminController>())" asp-action="@(nameof(AdminController.AddRole))" method="post">
      <strong>
        <label asp-for="Name" class="form-control-label text-muted"></label>
      </strong>
      <div class="col-sm-12 form-group row">
        <input asp-for="Name" class="form-control form-control" placeholder="Ex. Administrator"/>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
        </div>
      </div>
      <span asp-validation-for="Name" class="text-danger"></span>
    </form>
  </div><!--/col-->
</div><!--/row-->