@using Authentication.Controllers
@using Authentication.Utilities.Helpers
@model Authentication.PresentationModels.Admin.EditModels.AddRoleEditModel

<form asp-controller="@(Helper.NameOfController<AdminController>())" asp-action="@(nameof(AdminController.AddRole))" method="post">
  <div class="form-group row">
    <div class="col-md-7 offset-sm-1">
      <input asp-for="Name" class="form-control form-control-sm" placeholder="Role Name" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add Role </button>
      </div>
    </div>
  </div>
</form>